body
{
    background: url('detective.jpg') no-repeat;
    background-size: cover;
    font-size: 30px;
    width: 60%;
    margin: 0 auto;
    min-width: min-content;
    font-family:"Arial", sans-serif;
}

#container_header
{
    padding: 32px 0;
    text-align: center;
    margin: 0 auto;
}
img
{
    width: 32%;
}

#container_body
{
    display: block;
    margin: 0 auto;
    text-align: center;
    font-family: '돋움',Dotum, Helvetica,sans-serif;
    width: 80%;
    background-color: rgba(255,255,255,0);

}
.mdl-textfield.mdl-js-textfield
{
    border-top: solid 1px #f0f0f0;
    display : inline-block;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
.mdl-textfield__input
{
    margin: 0 auto;
    position: relative;
    width: 95%;
    border: none;
    font-size: 30px;
    padding: 15px 10px;
}
.error {
    padding: 3px 0 3px 20px;
    color: #f00;
    text-align: left;
    font-size: 20px;
    display: inline;
}
div.input
{
    display: inline-block;
    margin: 10px 0;
    border: solid 1px #dadada;
    width: 100%;
    background-color: rgba(255,255,255,0.7);
}


input[data-toggle] {
    display: none; }

input:checked + label
{
    border: solid 1px #2829e7;
    color: #21174c;
    width: 45%;
}

label
{
    display: inline-block;
    width: 45%;
    padding: 20px 2px 20px 2px;
    border: solid 1px #f0f0f0;;
    text-align: center;
    text-decoration: none;
    color: #292929;
    font-weight: 600;
    font-family:"Arial", sans-serif;
    margin: 10px -5px 10px -5px;
}
.button-group.round.toggle
{
    padding: 10px;
    /*background-color: white;*/
    border-top: solid 1px #f0f0f0;
    border-bottom: solid 1px #f0f0f0;
}
.inform
{
    height: 44px;
    border: none;
    float: left;
    padding: 6px 0;
}
select,#year,#day
{
    border: none;
    width: 90%;
    font-size: 30px;
    background-color: rgba(255,255,255,0);

}
.int
{
    position: relative;
    width: 90%;
}
#inform{
    display: flex;
}
#birth
{
    display: inline-block;
    flex: 1 1 120px;
    padding: 20px 0 ;
    height: 20px;
}
#year0
{
    flex:1 1 100px;
    padding-top: 10px;
}
#mon
{
    flex: 1 1 110px;
    padding: 7px 0;
}
#day0
{
    flex: 1 1 110px;
    padding-top: 10px;
}
.check
{
    border: none;
    float: left;
    padding: 10px 0;
    display: inline-block;
    margin: 0;
}
#country_num
{
    flex: 1 1 120px;
    padding: 10px 0;
}
#cell_phone_num0
{
    flex: 2 2 240px;
    padding: 15px 0;
}
#checking
{
    flex: 1 1 120px;
}
select.country
{
    font-size: 25px;
    padding: 2px 10px;
    margin: 5px 0;
}
.mdl-button.mdl-js-button {
    border: solid 1px #f0f0f0;
    font-size: 25px;
    padding: 5px 16px;
    height: 45px;
}
#input{
    display: flex;
    flex-direction: row;
}
#cellNum{
    display: flex;
}
#cell_phone_num
{
    font-size: 30px;
    height: 30px;
    border: none;
    background-color: rgba(255,255,255,0);
}
#checkNum{
    display: flex;
}
#check_num0
{
    flex: 3 3 360px;
    margin-left: 0;
    border-top: solid 1px #f0f0f0;
    padding: 10px 0;
}
#check_num
{
    border: none;
    width: 80%;
    padding: 2px 7px;
    font-size: 30px;
    background-color: rgba(255,255,255,0);
}
#check_btn
{
    flex: 1 1 120px;
    border-top: solid 1px #f0f0f0;
    padding: 10px 0;
}

#sign_in
{
    width: 100%;
    height: 40px;
}
input:-moz-submit-invalid
{
    background-color: #22c;
}
.sign_up {
    width: 100%;
    font-weight: 300;
    font-size: 40px;
    padding: 14px 5px;
    background-color: #21174c;
    color: white;
    border: none;
    margin-top: 30px;

}

#footer{
    border-top: 1px solid gray;
    margin-top: 5%;
    padding-top: 2%;
    font-size: 15px;
    text-align: center;
    align-self: center;
}
#goToMain{
    text-align: right;
    margin-top: 10px;
    font-size: 25px;
    padding: 5px 0;
}
#goToMain a{
    text-decoration: none;
    color: #020080;
    padding: 5px 15px;
    font-weight: bold;
    /*background: rgba(159, 187, 204, 0.3);*/
}
